<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
 <nav class="navbar navbar-expand-md navbar-custom ">
    
    <a class="navbar-brand" style="color: white;" routerLink="/home" ><span style="text-align: center ;"><i class="fa fa-home"></i>
        Work Force Browser </span></a>
    
    

    <div class="collapse navbar-collapse" id="navbarCollapse">
        
        <div class="navbar-nav ml-auto">
            <span class="nav-item nav-link" style="font-weight: bold;color: whitesmoke; align-items: center; text-align: center;" ><i class="fas fa-user"></i> Welcome {{username}} </span>&nbsp;&nbsp;
            <a (click)="onLogout()" style="cursor: pointer;font-weight: bold;color: whitesmoke;" class="nav-item nav-link" ><i class="fas fa-sign-out-alt"></i>LOGOUT</a>
        </div>
    </div>
</nav>    
</div>
</div>
